:root{
--blue-color: #36c;
--gray-border-color: #a2a9b1;
--gray-text-color: #54595d;
--gray-background-color: #f8f9fa;
--font-family-title: serif;
--font-familiy-content: -apple-system, sans-serif;
}
body{
    margin: 10px;
    padding: 0;
    color: var(--gray-text-color);
    font-family: var(--font-familiy-content);
}
header{
    text-align: center;
    color:black;
    font-family: var(--font-family-title);
    padding: 2.8em 0 1.5em 0;
}
header h1{
    font-size: 2.1em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0; 

}
header h2{
    font-size: 1.1em;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0;
}
header h1 span{
    font-size: 1.3em;
}
.navegation-container{
    display: grid;
    grid-template-columns: 10px repeat(7,70px) 10px;
    grid-template-rows: repeat(5,65px);
    justify-content: center;
    text-align: center;
}
.navegation-article:nth-of-type(1){
    grid-column: 3/span 2;
    grid-row: 1;
    justify-self: start;
}
.navegation-article:nth-of-type(2){
    grid-column: 6/span 2;
    grid-row: 1;
    justify-self: end;
}
.navegation-article:nth-of-type(3){
    grid-column: 2/span 2;
    grid-row: 2;
    justify-self: start;
}
.navegation-article:nth-of-type(4){
    grid-column: 7/span 2;
    grid-row: 2;
    justify-self: end;
}
.navegation-article:nth-of-type(5){
    grid-column: 1/span 3;
    grid-row: 3;
    justify-self: start;
}
.navegation-article:nth-of-type(6){
    grid-column: 7/span 3;
    grid-row: 3;
    justify-self: end;
}
.navegation-article:nth-of-type(7){
    grid-column: 2/span 2;
    grid-row: 4;
    justify-self: start;
}
.navegation-article:nth-of-type(8){
    grid-column: 7/span 2;
    grid-row: 4;
    justify-self: end;
}
.navegation-article:nth-of-type(9){
    grid-column: 3/span 2;
    grid-row: 5;
    justify-self: start;
}
.navegation-article:nth-of-type(10){
    grid-column: 6/span 2;
    grid-row: 5;
    justify-self: end;
}
.navegation-img{
    grid-column: 4/span 3;
    grid-row: 2/span 3;
    margin: 0;
}
.navegation-img img{
    max-width: 100%;
}
.navegation-container a{
    color: var(--blue-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}
.navegation-container p{
    font-size: 0.8em;
    margin: 0.5em 0 0;
}
.search{
    max-width: 500px;
    width: 100%;
    margin: 0.5em auto 0;
}
form{
    display: flex;
    justify-content: center;
    width: 100%;
}
form .search-input-container{
    display: flex;
    border: 1px solid var(--gray-border-color);
    border-right: none;
    align-items: center;
    flex: 1 1;
}

form .search-input-container input{
    border: none;
    outline: none;
    flex: 1 1;
}
.picker-icon{
    background-image: url("../sprite-81a290a5.png");
    height: 8px;
    width: 12px;
    background-position: 0 -519px;
    display: inline-block;
}
.background-img {
    background-image: url("../sprite-81a290a5.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}
.search form button{
    border: none;
    background-color: var(--blue-color) ;
    cursor: pointer;
    padding: 0 1.3em;
}
.search-icon{
    background-image: url("../sprite-81a290a5.png");
    display: block;
    width: 22px;
    height: 22px;
    background-position: 0 -670px;
}
.language{
    margin: 30px 0;
    display: flex;
    width: 100%;
    align-items: center;
}
.language a{
    display: flex;
    border: 1px solid var(--gray-border-color);
    color: var(--gray-text-color);
    text-decoration: none;
    padding: 0.6em 1em;
    margin: 0 1.5em;
    font-size: .9em;
    align-items: center;
}
.language-icon{
    background-image: url(../sprite-81a290a5.png);
    width: 25px;
    height: 20px;
    background-position: 0px -690px;
    margin-right: .5em;
}
a .picker-icon{
    display: inline-block;
    background-position: 0 -526px;
    height: 8px;
    width: 12px;
    margin-left: 0.5em;
}
.language hr{
    flex: 1 1;
}
hr {
    color: var(--gray-border-color);
    border: 0.5px solid var(--gray-border-color);
}
.links-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
    margin: 65px auto;
}
.link-item{
    display: flex;
}
.link-item:nth-of-type(1){
    grid-column: 1/span 2;
}
.foundation-icon{
    background-position: -2px -212px;
    width: 38px;
    height: 40px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(2){
    grid-column: 3/span 2;
}
.wiki-icon{
    background-position: -2px -710px;
    width: 38px;
    height: 40px;
    margin-right: 2%;
    flex-shrink: 0;
}
.G_Play-icon{
    display: inline-block;
    background-position: -1px -534px;
    width: 122px;
    height: 40px;
    margin-right: 15%;
    flex-shrink: 0;
}
.App_Store-icon{
    display: inline-block;
    background-position: -1px -572px;
    width: 110px;
    height: 40px;
    flex-shrink: 0;
}
.link-item:nth-of-type(3){
    grid-column: 1;
}
.common-icon{
    background-position: -2px -1px;
    width: 38px;
    height: 47px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(4){
    grid-column: 2;
}
.wikivoyage-icon{
    background-position: -2px -445px;
    width: 38px;
    height: 37px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(5){
    grid-column: 3;
}
.wiktionary-icon{
    background-position: -2px -481px;
    width: 38px;
    height: 37px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(6){
    grid-column: 4;
}
.wikibook-icon{
    background-position: 1px -126px;
    width: 38px;
    height: 40px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(7){
    grid-column: 1;
}
.wikinews-icon{
    background-image: url("../Wikinews-logo_sister@2x.png");
    background-size: contain;
    width: 38px;
    height: 40px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(8){
    grid-column: 2;
}
.wikidata-icon{
    background-position: -2px -172px;
    width: 38px;
    height: 28px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(9){
    grid-column: 3;
}
.wikiversity-icon{
    background-position: -2px -409px;
    width: 38px;
    height: 37px;
    margin-right: 2%;
    flex-shrink: 0;
}

.link-item:nth-of-type(10){
    grid-column: 4;
}
.wikiquote-icon{
    background-position: -2px -285px;
    width: 38px;
    height: 42px;
    margin-right: 2%;
    flex-shrink: 0;
}

.link-item:nth-of-type(11){
    grid-column: 1;
}
.mediawiki-icon{
    background-position: 1px -54px;
    width: 43px;
    height: 30px;
    margin-right: 2%;
    flex-shrink: 0;
}

.link-item:nth-of-type(12){
    grid-column: 2;
}
.wikisource-icon{
    background-position: 0px -327px;
    width: 40px;
    height: 40px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item:nth-of-type(13){
    grid-column: 3;
}
.wikispecies-icon{
    background-position: -2px -368px;
    width: 38px;
    height: 40px;
    margin-right: 2%;
    flex-shrink: 0;
}

.link-item:nth-of-type(14){
    grid-column: 4;
}
.metawiki-icon{
    background-position: 2px -88px;
    width: 40px;
    height: 38px;
    margin-right: 2%;
    flex-shrink: 0;
}
.link-item a{
    text-decoration: none;
    color: var(--blue-color);
    font-family: var(-font-family-title);
}
.link-item div p{
    color: var(--gray-text-color);
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
}
footer{
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 13px;
    color: var(--gray-text-color);
}
.add-sep:after{
    content: '\2022';
    margin-left: 5px;
    margin-right: 5px;

}